.workplan{
    text-align: center;
    margin: 3.12rem 0;
    cursor: pointer;
}
.workplan h1{
    font-size: 2.81rem;
}
.workplan span{
    color: var(--yel-color);
}
.workplan h1::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0.19rem;
    top: 87rem;
    left: 31rem;
    z-index: 999;
    background: var(--yel-color);
    transition: 0.8s;
}
.workplan h1:hover::after{
    width: 23rem;
}
.workimages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.workimages img{
    object-fit: cover;
    height: 14rem;
    width: 24rem;
    margin: 0.75rem;
    border-radius: 0.50rem;
}

