.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 11vh;
    width: 100%;
    z-index: 1;
    background: var(--secondary-color);
}
.navbar img{
    object-fit: cover;
    height: 8vh;
    width: 10vw;
}
.navbar .ul .li {
    display: inline-block;
    margin: 0.19rem;
    font-size: 0.88rem;
    padding: 0.44rem 1.56rem;
    border-radius: 1.25rem;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
}
.navbar .ul .li:hover{
    color: var(--primary-color);
    background: transparent;
    border-bottom: 2px solid var(--yel-color);
}
.navbar .joinbtn2{
    text-decoration: none;
    font-size: 0.88rem;
    margin-right: 2.19rem;
    padding: 0.44rem 1.88rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 1.25rem;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.navbar .joinbtn2:hover{
    transform: scale(1.1);
    border: 2px solid var(--yel-color);
    box-shadow: 0 0 15px 0 var(--yel-color);
}
.navbar .joinbtn2:active{
    transform: scale(0.97);
}
.navbar .ul .active{
    color: var(--yel-color);
    border-radius: 0;
    border-bottom: 1px solid var(--yel-color);
    transition: 0ms;
}
.navbar .check-label{
    font-size: 30px;
    /* float: right; */
    /* line-height: 80px; */
    cursor: pointer;
    margin-right: 40px;
    display: none;
}
.navbar #check{
    display: none;
}

